<p>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <ng-container *appAuth>
    <a routerLink="me" routerLinkActive="active" *appAccess="'me'">My profile</a>
    <a routerLink="editor" routerLinkActive="active" *appAccess="'editor'">Editor</a>
    <a routerLink="admin" routerLinkActive="active" *appAccess="'admin'">Administration</a>
    <a (click)="logout()">LOGOUT</a>
  </ng-container>
  <a routerLink="login" routerLinkActive="active" *appAuth="false">LOGIN</a>
</p>
