<h2>Please login to continue</h2>

<form [formGroup]="form" (ngSubmit)="login()">
  <p>
    <label for="form-username">Username</label>
    <input type="text" id="form-username" formControlName="username">
    <span *ngIf="form.get('username').hasError('required')" class="error">Required</span>
  </p>
  <p>
    <label for="form-password">Password</label>
    <input type="password" id="form-password" formControlName="password">
    <span *ngIf="form.get('password').hasError('required')" class="error">Required</span>
  </p>
  <button type="submit">Log me in</button>
</form>
