<h3>My profile</h3>

<ng-container *ngIf="user$ | async as user">
  <p>
    <b>Username:</b>
    <span>{{user.username}}</span>
  </p>
  <img [src]="user.avatar" width=300>

  <ng-container *ngIf="user.rights?.length">
    <h4>Rights</h4>
    <ul>
      <li *ngFor="let r of user.rights">{{r}}</li>
    </ul>
  </ng-container>
</ng-container>

<h4>Messages</h4>
<ul>
  <li *ngFor="let m of messages$ | async"><b>{{m.author}}:</b> {{m.text}}</li>
</ul>
